/* aca iran todos los estilos */

.header {
  display: flex;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


:root {
  --cian: #00eaff;
  --fondo: #1a1a1a;
  --fondo-activo: #000;
  --borde: #00eaff;
}

body {
  background: #111;
  font-family: Arial, sans-serif;
  color: var(--cian);
}

section{
    width: 320px;
    margin: auto;
}
.container-inputs{
    display: grid;
    width: 100%;
    margin: 0.5rem 0;
}

